.navbar {
  background: #f5f5dc; /* Cream color */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

.navbar-logo {
  color: #333;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9); /* Transparent background */
  z-index: 1;
}

.nav-item {
  color: #333;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-out;
}

.search-bar-desktop {
  display: flex;
  align-items: center;
}

.search-bar-desktop input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

.search-bar-desktop button {
  background: #555;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar-desktop button:hover {
  background: #777;
}

.search-bar-mobile {
  display: none;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.search-result {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  margin: 10px;
  max-width: 300px;
}

.search-result img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.search-result-info h3 {
  margin: 0;
}

@media screen and (max-width: 960px) {
  .menu-icon {
    display: block;
    color: #333;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: rgba(255, 255, 255, 0.9); /* Transparent background */
  }

  .nav-menu.active {
    background: rgba(255, 255, 255, 0.9); /* Transparent background */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .search-bar-desktop {
    display: none;
  }

  .search-bar-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }

  .search-bar-mobile input,
  .search-bar-mobile button {
    width: 80%;
    margin: 5px 0;
  }

  .search-result {
    flex-direction: column;
    align-items: center;
  }

  .search-result img {
    margin: 0;
  }
}
